<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped" style="margin-top: 20px">
    <p>
        <a th:href="@{/product}" class="btn btn-secondary">
            Back to product list
        </a>
    </p>
    <tr>
        <td>Id</td>
        <td>Name Product</td>
        <td>Price</td>
        <td>Color</td>
        <td>Company</td>
        <td>Function</td>
    </tr>
    <tr th:each="product,rowStat: ${listProduct}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.nameProduct}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.color}"></td>
        <td th:text="${product.company}"></td>
        <td>
            <a th:href="@{/product/{id}/edit(id=${product.getId()})}" class="btn btn-secondary">Update</a>
            <button type="button" th:attr="onclick=|deleteInfo('${product.id}','${product.nameProduct}')|"
                    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>
            <a th:href="@{/product/{id}/view(id=${product.getId()})}" class="btn btn-secondary">View</a>
        </td>
    </tr>
</table>
</body>
</html>